.git
.github
.gitignore
.vscode
.gemini
.flake8
*.md
copyDB.cmd
copyDB.sh
createDataYaml.py
createOtherYaml.py
generate_secretkey_setting.py
build/requirements_lint.txt
build/requirements_selenium.txt
build/requirements_test.txt
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
