<h1>収入支出追加</h1>
<form>
    {% csrf_token %}
    <table class="tbl-common fcs-blue">
        <tr>
            <th>日付</th>
            <td>
                <input type="text" id="a_year" style="width:6ex" class="righter" onkeypress="keyPressAdd(event.keyCode)"
                    value="{{ year }}">年
                <input type="text" id="a_month" style="width:5ex" class="righter"
                    onkeypress="keyPressAdd(event.keyCode)" value="{{ month }}">月
                <input type="text" id="a_day" style="width:5ex" class="righter" onkeypress="keyPressAdd(event.keyCode)"
                    placeholder="{{ day }}" autofocus>日
            </td>
        </tr>
        <tr>
            <th>品目</th>
            <td><input type="text" name="a_item" id="a_item" class="add_item" style="width:30ex" onkeypress="keyPressAdd(event.keyCode)">
            </td>
        </tr>
        <tr>
            <th>金額</th>
            <td><input type="text" name="a_price" id="a_price" style="width:16ex" class="add_price righter"
                    onkeypress="keyPressAdd(event.keyCode)">円</td>
        </tr>
        <tr>
            <th>支払い方法</th>
            <td class="radio-green">
                {% for m in methods %}
                <input type="radio" value="{{ m.pk }}" name="a_method" id="a_method-{{ m.pk }}"
                    {% if m == methods.first %} checked{% endif %} onkeypress="keyPressAdd(event.keyCode)"
                    onfocus="addBlueFocus('#lbl_a_method-{{ m.pk }}')"
                    onblur="removeBlueFocus('#lbl_a_method-{{ m.pk }}')">
                <label for="a_method-{{ m.pk }}" id="lbl_a_method-{{ m.pk }}">{{ m.name }}</label>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>分類</th>
            <td class="radio-green">
                <table class="radio-green">
                    <tr>
                        <td>
                            {% for g in first_categories %}
                            <input type="radio" value="{{ g.pk }}" name="a_category" id="a_category-{{ g.pk }}"
                                {% if g == first_categories.first %} checked{% endif %}
                                onkeypress="keyPressAdd(event.keyCode)"
                                onfocus="addBlueFocus('#lbl_a_category-{{ g.pk }}')"
                                onblur="removeBlueFocus('#lbl_a_category-{{ g.pk }}')">
                            <label for="a_category-{{ g.pk }}" id="lbl_a_category-{{ g.pk }}">{{ g.name }}</label>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% for g in latter_categories %}
                            <input type="radio" value="{{ g.pk }}" name="a_category" id="a_category-{{ g.pk }}"
                                onkeypress="keyPressAdd(event.keyCode)"
                                onfocus="addBlueFocus('#lbl_a_category-{{ g.pk }}')"
                                onblur="removeBlueFocus('#lbl_a_category-{{ g.pk }}')">
                            <label for="a_category-{{ g.pk }}" id="lbl_a_category-{{ g.pk }}">{{ g.name }}</label>
                            {% endfor %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>立替</th>
            <td class="radio-green">
                {% for k,v in temps.items %}
                <input type="radio" name="a_temp" value="{% if k == 0 %}False{% else %}True{% endif %}" id="a_temp-{{ k }}" {% if k == 0 %} checked{% endif %}
                    onkeypress="keyPressAdd(event.keyCode)" onfocus="addBlueFocus('#lbl_a_temp-{{ k }}')"
                    onblur="removeBlueFocus('#lbl_a_temp-{{ k }}')">
                <label for="a_temp-{{ k }}" id="lbl_a_temp-{{ k }}">{{ v }}</label>
                {% endfor %}
            </td>
        </tr>
    </table>
    <input type="button" value="追加" class="btn-apply" onclick="sendAddRow()">
</form>
