<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js" integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/14.8.1/math.js" integrity="sha512-AJmFmOXFAAzxbzp498VFGf+/Ke7n/O/Pz7L7R2in/4lEDkqhFvuIemyJo/MzXORunJkrJngeIyaWqLAj2rTY2Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{% static 'common.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block header %}{% endblock %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <header>
        <div class="header-cont1">
            <h1><a href="{% url 'moneybook:index' %}" class="logo">{{ app_name }}</a></h1>
        </div>
        <div class="header-cont2">
            {{ username }}さん(<a href="{% url 'moneybook:logout' %}">ログアウト</a>)
        </div>
    </header>
    <nav class="task_bar">
        <ul>
            <li><a href="{% url 'moneybook:index' %}">ホーム</a></li>
            <li><a href="{% url 'moneybook:add' %}">追加</a></li>
            <li><a href="{% url 'moneybook:statistics' %}">統計</a></li>
            <li><a href="{% url 'moneybook:search' %}">検索</a></li>
            <li><a href="{% url 'moneybook:tools' %}">ツール</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <span id="is_pc"></span>
</body>

</html>
