<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script type="text/javascript" src="{% static 'common.js' %}"></script>
    <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
    {% block header %}{% endblock %}
    <meta charset="UTF-8">
</head>

<body>
    <header>
        <div class="header-cont1">
            <h1><a href="{% url 'moneybook:index' %}" class="logo">{{ app_name }}</a></h1>
        </div>
        <div class="header-cont2">
            {{ username }}さん(<a href="{% url 'moneybook:logout' %}">ログアウト</a>)
        </div>
    </header>
    <nav class="task_bar">
        <ul>
            <li><a href="{% url 'moneybook:index' %}">ホーム</a></li>
            <li><a href="{% url 'moneybook:add' %}">追加</a></li>
            <li><a href="{% url 'moneybook:statistics' %}">統計</a></li>
            <li><a href="{% url 'moneybook:search' %}">検索</a></li>
            <li><a href="{% url 'moneybook:tools' %}">ツール</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>

</html>
