{% load humanize %}
<h1>現在銀行計算</h1>
<table class="tbl-common">
    <tr>
        <th>記録</th>
        <td>{{ bank_written| intcomma }}</td>
    </tr>
    <tr><th class="space"></th><td class="space"></td></tr>
    {% for b in banks %}
        <tr>
            <th>{{ b.name }}</th>
            <td><input type="text" class="righter now_bank_credit" id="bank-{{ b.pk }}" style="width:7ex" onfocus="unseparate_value('bank-{{ b.pk }}')" onblur="separate_value('bank-{{ b.pk }}')" onkeypress="key_press_now_bank(event.keyCode)" value="{{ b.price| intcomma }}"></td>
        </tr>{% endfor %}
    {% for c in credit_checked_date %}
        <tr>
            <th>{{ c.name }}</th>
            <td><input type="text" class="righter now_bank_credit" id="credit-{{ c.pk }}" style="width:7ex" onfocus="unseparate_value('credit-{{ c.pk }}')" onblur="separate_value('credit-{{ c.pk }}')" onkeypress="key_press_now_bank(event.keyCode)" value="{{ c.price| intcomma }}"></td>
        </tr>{% endfor %}
    <tr><th class="space"></th><td class="space"></td></tr>
    <tr>
        <th>差額(記録-予定)</th>
        <td id="now_bank_balance"></td>
    </tr>
</table>
<input type="button" class="btn-apply" value="計算" onclick="calculate_now_bank()" />