{% load static %}
<h1>フィルタ</h1>
<table class="tbl-window view-filter">
    <tr>
        <td>
            <table class="tbl-common fcs-blue" style="margin: 1vw auto;">
                <tr>
                    <td rowspan="2">
                        <a href="{% url 'moneybook:index_month' last_year last_month %}"><img
                                src="{% static 'images/left.png' %}" alt="←" width="30vw" valign="middle"></a>
                    </td>
                    <td class="jump-date">
                        <input type="text" name="year" id="jump_year" style="width:6ex" class="righter"
                            value="{{ year }}" onkeypress="key_press_move(event.keyCode)">年
                        <input type="text" name="month" id="jump_month" style="width:5ex" class="righter"
                            value="{{ month }}" onkeypress="key_press_move(event.keyCode)">月
                    </td>
                    <td rowspan="2">
                        <a href="{% url 'moneybook:index_month' next_year next_month %}"><img
                                src="{% static 'images/right.png' %}" alt="→" width="30 vw" valign="middle"></a>
                    </td>
                </tr>
                <tr>
                    <td><input type="button" class="btn-apply" value="更新" onclick="moveMonth()"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="radio-green fcs-blue">
                <tr>
                    <td><input type="text" oninput="applyFilter()" id="filter-item" size="45" value="{{ item }}"></td>
                </tr>
                <tr>
                    <td>
                        {% for d in directions %}
                        <input type="checkbox" class="check_filter" onChange="applyFilter()" name="filter-direction[]"
                            id="direction-{{ d.pk }}" value="{{ d.pk }}"
                            onfocus="addBlueFocus('#lbl_direction-{{ d.pk }}')"
                            onblur="removeBlueFocus('#lbl_direction-{{ d.pk }}')" checked>
                        <label for="direction-{{ d.pk }}" id="lbl_direction-{{ d.pk }}">{{ d.name }}</label>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% for m in methods %}
                        <input type="checkbox" class="check_filter" onChange="applyFilter()" name="filter-method[]"
                            id="method-{{ m.pk }}" value="{{ m.pk }}" onfocus="addBlueFocus('#lbl_method-{{ m.pk }}')"
                            onblur="removeBlueFocus('#lbl_method-{{ m.pk }}')" checked>
                        <label for="method-{{ m.pk }}" id="lbl_method-{{ m.pk }}">{{ m.name }}</label>
                        {% endfor %}
                        {% for m in unused_methods %}
                        <input type="checkbox" class="check_filter" onChange="applyFilter()" name="filter-method[]"
                            id="method-{{ m.pk }}" value="{{ m.pk }}" onfocus="addBlueFocus('#lbl_method-{{ m.pk }}')"
                            onblur="removeBlueFocus('#lbl_method-{{ m.pk }}')" checked>
                        <label for="method-{{ m.pk }}" id="lbl_method-{{ m.pk }}">{{ m.name }}</label>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% for g in first_categories %}
                        <input type="checkbox" class="check_filter" onChange="applyFilter()" name="filter-class[]"
                            id="class-{{ g.pk }}" value="{{ g.pk }}" onfocus="addBlueFocus('#lbl_class-{{ g.pk }}')"
                            onblur="removeBlueFocus('#lbl_class-{{ g.pk }}')" checked>
                        <label for="class-{{ g.pk }}" id="lbl_class-{{ g.pk }}">{{ g.name }}</label>
                        {% endfor %}
                        <br>
                        {% for g in latter_categories %}
                        <input type="checkbox" class="check_filter" onChange="applyFilter()" name="filter-class[]"
                            id="class-{{ g.pk }}" value="{{ g.pk }}" onfocus="addBlueFocus('#lbl_class-{{ g.pk }}')"
                            onblur="removeBlueFocus('#lbl_class-{{ g.pk }}')" checked>';
                        <label for="class-{{ g.pk }}" id="lbl_class-{{ g.pk }}">{{ g.name }}</label>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" value="全選択" class="btn-apply" onclick="selectAll()">
            <input type="button" value="全解除" class="btn-cancel" onclick="clearFilter()">
        </td>
    </tr>
</table>
