{% load humanize %}
<h1>現在銀行計算</h1>
<table class="tbl-common fcs-blue">
    <tr>
        <td colspan="3">
            <input type="text" style="width:6ex" class="righter" id="credit_check_year" value="{{ year }}">年
            <input type="text" style="width:5ex" class="righter" id="credit_check_month">月
            <input type="text" style="width:5ex" class="righter" id="credit_check_day">日
        </td>
    </tr>
    <tr>
        <th colspan="2">記録</th>
        <td class="righter">{{ bank_written| intcomma }}</td>
    </tr>
    {% for b in banks %}
    <tr>
        <th colspan="2">{{ b.name }}</th>
        <td><input type="text" class="righter now_bank_credit" id="bank-{{ b.pk }}" style="width:9ex"
                onfocus="unseparateValue('#bank-{{ b.pk }}')" onblur="separateValue('#bank-{{ b.pk }}')"
                onkeypress="keyPressNowBank(event.keyCode)" value="{{ b.price| intcomma }}"></td>
    </tr>{% endfor %}
    {% for c in credit_checked_date %}
    <tr>
        <td><input type="button" class="btn-apply" value="{{ c.name }}" onclick="updateSeveralCheckedDate({{ c.pk }})">
        </td>
        <td>最新確定引き落とし日: {{ c.date|date:"Y"}}年{{ c.date|date:"m" }}月{{ c.date|date:"d" }}日</td>
        <td><input type="text" class="righter now_bank_credit" id="credit-{{ c.pk }}" style="width:9ex"
                onfocus="unseparateValue('#credit-{{ c.pk }}')" onblur="separateValue('#credit-{{ c.pk }}')"
                onkeypress="keyPressNowBank(event.keyCode)" value="{{ c.price| intcomma }}"></td>
    </tr>{% endfor %}
    <tr>
        <th colspan="2">未記録分</th>
        <td id="now_bank_balance" class="righter"></td>
    </tr>
</table>
<input type="button" class="btn-apply" value="計算" onclick="calculateNowBank()" />
