{% load humanize %}

<table class="tbl-inout tbl-boarder">
    <tr>
        <th>日付</th>
        <th>品目</th>
        <th>金額</th>
        <th>支払い方法</th>
        <th>分類</th>
        <th>編集</th>
        <th>チェック</th>
    </tr>
    {% for d in unchecked_data %}
    <tr class="data-row" id="unapproved-row-{{ d.pk }}">
        <td>{{ d.date|date:"Y/m/d" }}</td>
        <td class="lefter">{{ d.item }}</td>
        <td class="righter">{{ d.price|intcomma }}</td>
        <td>{{ d.method }}</td>
        <td>{% if d.temp %}立替{% else %}{{ d.category }}{% endif %}</td>
        <td class='a-edit'><a href="{% url 'moneybook:edit' d.pk %}">編集</a></td>
        <td class="a-check{% if d.pre_checked %} a-checked{% endif %}" id="a-check-{{d.pk}}">
            <input type="button" value="チェック" onclick="preCheck({{ d.pk }})" style="cursor:pointer">
        </td>
    </tr>
    {% endfor %}
</table>
