{% extends "_base.html" %}
{% load static %}

{% block title %}{{ app_name }} Add{% endblock %}

{% block header %}
<script type="text/javascript" src="{% static 'add.js' %}"></script>
<script type="text/javascript">
    add_url = "{% url 'moneybook:add' %}";
    intra_move_url = "{% url 'moneybook:add_intra_move' %}";

    direction_first = "{{ directions.first.pk }}"
    method_first = "{{ methods.first.pk }}";
    category_first = "{{ first_categories.first.pk }}";
</script>
{% endblock %}

{% block content %}
{% include "_add_task_bar.html" %}
<section>
    {% csrf_token %}
    <h1>銀行チャージ</h1>
    <form>
        <table class="tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="c_year" style="width:6ex" class="righter"
                        onkeypress="key_press_charge(event.keyCode)" value="{{ year }}">年
                    <input type="text" id="c_month" style="width:5ex" class="righter"
                        onkeypress="key_press_charge(event.keyCode)" value="{{ month }}">月
                    <input type="text" id="c_day" style="width:5ex" class="righter"
                        onkeypress="key_press_charge(event.keyCode)" autofocus>日
                </td>
            </tr>
            <tr>
                <th>金額</th>
                <td><input type="text" id="c_price" style="width:10ex" class="righter"
                        onkeypress="key_press_charge(event.keyCode)">円</td>
            </tr>
            <tr>
                <th>移動先</th>
                <td class="radio-green">
                    {% for m in chargeable_methods %}
                    <input type="radio" name="c_method" value="{{ m.pk }}" id="c_method-{{ m.pk }}"
                        {% if m == chargeable_methods.first %} checked{% endif %}
                        onkeypress="key_press_charge(event.keyCode)" onfocus="addBlueFocus('#lbl_c_method-{{ m.pk }}')"
                        onblur="removeBlueFocus('#lbl_c_method-{{ m.pk }}')">
                    <label for="c_method-{{ m.pk }}" id="lbl_c_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <input type="button" value="追加" class="btn-apply" onclick="send_charge()">
    </form>
    <h1>内部移動追加</h1>
    <form>
        <table class="tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="m_year" style="width:6ex" class="righter"
                        onkeypress="key_press_intra(event.keyCode)" value="{{ year }}">年
                    <input type="text" id="m_month" style="width:5ex" class="righter"
                        onkeypress="key_press_intra(event.keyCode)" value="{{ month }}">月
                    <input type="text" id="m_day" style="width:5ex" class="righter"
                        onkeypress="key_press_intra(event.keyCode)" autofocus>日
                </td>
            </tr>
            <tr>
                <th>品目</th>
                <td><input type="text" id="m_item" style="width:30ex" onkeypress="key_press_intra(event.keyCode)"></td>
            </tr>
            <tr>
                <th>金額</th>
                <td><input type="text" id="m_price" style="width:10ex" class="righter"
                        onkeypress="key_press_intra(event.keyCode)">円</td>
            </tr>
            <tr>
                <th>移動元</th>
                <td class="radio-green">
                    {% for m in methods %}
                    <input type="radio" name="m_before_method" value="{{ m.pk }}" id="m_before_method-{{ m.pk }}"
                        {% if m == methods.first %} checked{% endif %} onkeypress="key_press_intra(event.keyCode)"
                        onfocus="addBlueFocus('#lbl_m_before_method-{{ m.pk }}')"
                        onblur="removeBlueFocus('#lbl_m_before_method-{{ m.pk }}')">
                    <label for="m_before_method-{{ m.pk }}" id="lbl_m_before_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>移動先</th>
                <td class="radio-green">
                    {% for m in methods %}
                    <input type="radio" name="m_after_method" value="{{ m.pk }}" id="m_after_method-{{ m.pk }}"
                        {% if m == methods.first %} checked{% endif %} onkeypress="key_press_intra(event.keyCode)"
                        onfocus="addBlueFocus('#lbl_m_after_method-{{ m.pk }}')"
                        onblur="removeBlueFocus('#lbl_m_after_method-{{ m.pk }}')">
                    <label for="m_after_method-{{ m.pk }}" id="lbl_m_after_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <input type="button" value="追加" class="btn-apply" onclick="send_intra_move()">
    </form>
    <h1>ショートカット</h1>
    <form>
        <table class="tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="s_year" style="width:6ex" class="righter" value="{{ last_year }}">年
                    <input type="text" id="s_month" style="width:5ex" class="righter" value="{{ last_month }}">月
                    <input type="text" id="s_day" style="width:5ex" class="righter">日
                </td>
            </tr>
            <tr>
                <th>金額</th>
                <td><input type="text" id="s_price" style="width:10ex" class="righter" value="1000">円</td>
            </tr>
            <tr>
                <th>項目</th>
                <td><input type="button" class="btn-apply" onclick="send_suica_charge()" value="Suicaチャージ"></td>
            </tr>
        </table>
    </form>
    <h1>収入支出追加</h1>
    <form>
        <table class="tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="a_year" style="width:6ex" class="righter"
                        onkeypress="key_press_add(event.keyCode)" value={{ year }}>年
                    <input type="text" id="a_month" style="width:5ex" class="righter"
                        onkeypress="key_press_add(event.keyCode)" value={{ month }}>月
                    <input type="text" id="a_day" style="width:5ex" class="righter"
                        onkeypress="key_press_add(event.keyCode)">日
                </td>
            </tr>
            <tr>
                <th>品目</th>
                <td><input type="text" id="a_item" style="width:30ex" onkeypress="key_press_add(event.keyCode)"></td>
            </tr>
            <tr>
                <th>金額</th>
                <td><input type="text" id="a_price" style="width:10ex" class="righter"
                        onkeypress="key_press_add(event.keyCode)">円</td>
            </tr>
            <tr>
                <th>方向</th>
                <td class="radio-green">
                    {% for d in directions %}
                    <input type="radio" name="a_direction" value="{{ d.pk }}" id="a_direction-{{ d.pk }}"
                        {% if d == directions.first %} checked{% endif %} onkeypress="key_press_add(event.keyCode)"
                        onfocus="addBlueFocus('#lbl_a_direction-{{ d.pk }}')"
                        onblur="removeBlueFocus('#lbl_a_direction-{{ d.pk }}')">
                    <label for="a_direction-{{ d.pk }}" id="lbl_a_direction-{{ d.pk }}">{{ d.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>支払い方法</th>
                <td class="radio-green">
                    {% for m in methods %}
                    <input type="radio" name="a_method" value="{{ m.pk }}" id="a_method-{{ m.pk }}"
                        {% if m == methods.first %} checked{% endif %} onkeypress="key_press_add(event.keyCode)"
                        onfocus="addBlueFocus('#lbl_a_method-{{ m.pk }}')"
                        onblur="removeBlueFocus('#lbl_a_method-{{ m.pk }}')">
                    <label for="a_method-{{ m.pk }}" id="lbl_a_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>分類</th>
                <td class="radio-green">
                    {% for g in first_categories %}
                    <input type="radio" name="a_category" value="{{ g.pk }}" id="a_category-{{ g.pk }}"
                        {% if g == first_categories.first %} checked{% endif %}
                        onkeypress="key_press_add(event.keyCode)" onfocus="addBlueFocus('#lbl_a_category-{{ g.pk }}')"
                        onblur="removeBlueFocus('#lbl_a_category-{{ g.pk }}')">
                    <label for="a_category-{{ g.pk }}" id="lbl_a_category-{{ g.pk }}">{{ g.name }}</label>
                    {% endfor %}
                    {% for g in latter_categories %}
                    <input type="radio" name="a_category" value="{{ g.pk }}" id="a_category-{{ g.pk }}"
                        onkeypress="key_press_add(event.keyCode)" onfocus="addBlueFocus('#lbl_a_category-{{ g.pk }}')"
                        onblur="removeBlueFocus('#lbl_a_category-{{ g.pk }}')">
                    <label for="a_category-{{ g.pk }}" id="lbl_a_category-{{ g.pk }}">{{ g.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>立替</th>
                <td class="radio-green">
                    {% for k,v in temps.items %}
                    <input type="radio" name="a_temp" value="{% if k == 0 %}False{% else %}True{% endif %}"
                        id="a_temp-{{ k }}" {% if k == 0 %} checked{% endif %} onkeypress="key_press_add(event.keyCode)"
                        onfocus="addBlueFocus('#lbl_a_temp-{{ k }}')" onblur="removeBlueFocus('#lbl_a_temp-{{ k }}')">
                    <label for="a_temp-{{ k }}" id="lbl_a_temp-{{ k }}">{{ v }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <input type="button" value="追加" class="btn-apply" onclick="send_add_row()"
            onkeypress="key_press_add(event.keyCode)">
    </form>
</section>
{% include "_result_message.html" %}
{% endblock %}
