{% extends "_base.html" %}
{% load static %}

{% block title %}{{ app_name }}{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<script type="text/javascript" src="{% static 'index.js' %}"></script>
<script src="{% static 'amcharts4/core.js' %}"></script>
<script src="{% static 'amcharts4/charts.js' %}"></script>
<script src="{% static 'amcharts4/animated.js' %}"></script>
<script src="{% static 'amcharts4/kelly.js' %}"></script>
<div id="js_draw_chart_container"></div>
<script type="text/javascript">
    index_url = "{% url 'moneybook:index' %}";
    add_url = "{% url 'moneybook:add' %}";
    add_intra_move_url = "{% url 'moneybook:add_intra_move' %}";
    data_table_url = "{% url 'moneybook:data_table' %}";
    balance_statistic_mini_url = "{% url 'moneybook:balance_statistic_mini' %}";
    chart_container_data_url = "{% url 'moneybook:chart_container_data' %}";

    year = "{{ year }}";
    month = "{{ month }}";
    method_first = "{{ methods.first.pk }}";
    category_first = "{{ first_categories.first.pk }}";

    window.onload = function () {
        fetchData();
    }
</script>
{% endblock %}

{% block content %}
<div class="both-nav">
    <div id="filter-fixed" class="nav">
        {% include "_add_mini.html" %}
        {% include "_filter_mini.html" %}
    </div>
    <section class="flex-main">
        <h1>一覧表示</h1>
        <div id="transactions"></div>
    </section>
    <div id="statistic-fixed" class="nav"></div>
</div>
{% include "_result_message.html" %}
{% endblock %}
