{% extends "_base.html" %}
{% load static %}

{% block title %}{{ app_name }}{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
<script type="text/javascript" src="{% static 'canvasjs.min.js' %}"></script>
<script type="text/javascript" src="{% static 'common.js' %}"></script>
<script type="text/javascript" src="{% static 'index.js' %}"></script>
<script type="text/javascript">
    window.onload = function() {
        apply_filter()
        
        var chart = new CanvasJS.Chart("chart_container", {
            animationEnabled: true,
            title: {text: "支出内訳"},
            data: [{
                type: "pie",
                startAngle: 270,
                radius: "80%",
                yValueFormatString: "#,###,##0\"円\"",
                indexLabel: "{label} {y}",
                dataPoints: [
                    {% for k,v in genres_outgo.items %}{y: {{ v }}, label: "{{ k.name }}"},
                    {% endfor %}
                ]
            }]
        });
        chart.render();
    }
    function send_add_row() {
        genre = $('input[name="a_genre"]:checked').val();
        direction = 1;
        if (genre == -4) {
            direction = 0;
        }
        $.ajax({
            url: "{% url 'moneybook:add' %}",
            type: "POST",
            data: {
                "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
                "date": $('#a_year').val() + "-" + $('#a_month').val() + "-" + $('#a_day').val(),
                "item": $('#a_item').val(),
                "price": $('#a_price').val(),
                "direction": direction,
                "method": $('input[name="a_method"]:checked').val(),
                "genre": genre,
                "temp": "False",
                "checked": "False",
            }
        })
        // 成功時
        .done((data) => {
            if ($('#is-charge').prop('checked')) {
                $.ajax({
                    url: "{% url 'moneybook:add_intra_move' %}",
                    type: "POST",
                    data: {
                        "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
                        "year": $('#a_year').val(),
                        "month": $('#a_month').val(),
                        "day": $('#a_day').val(),
                        "price": $('#a_price').val(),
                        "before_method": 2,
                        "after_method": $('input[name="a_method"]:checked').val(),
                    }
                })
                // 成功時
                .done((data) => {
                    update_success(data);
                })
                // 失敗時
                .fail((data) => {
                    // メッセージ表示
                    show_result_msg("Error...", empty);
                    // 抜ける
                    return;
                });
            }
            else {
                update_success(data);
            }
        })
        // 失敗時
        .fail((data) => {
            // メッセージ表示
            show_result_msg("Error...", empty);
        });
    }
    function key_press_add(code) {
        // エンターキーなら実行
        if (code === 13) {
            send_add_row();
        }
    }

    function move_month() {
        year = document.getElementById("jump_year").value;
        month = document.getElementById("jump_month").value;
        window.location.href = "{% url 'moneybook:index' %}" + year + "/" + month;
    }
    function key_press_move(code) {
        //エンターキーなら
        if (code === 13) {
            move_month();
        }
    }

    function reset_add_form() {
        // フォームをリセット
        $('#a_day').val('');
        $('#a_item').val('');
        $('#a_price').val('');
        $('input[name=a_method]').val(['{{ methods.first.pk }}']);
        $('input[name=a_genre]').val(['{{ first_genres.first.pk }}']);
        $('#is-charge').prop('checked', false).change();

        // フォーカス
        $('#a_day').focus();
    }

</script>
{% endblock %}

{% block content %}
<div class="both-nav">
    <div id="filter-fixed" class="nav">
        {% include "_add_mini.html" %}
        {% include "_filter_mini.html" %}
    </div>
    <section class="flex-main">
        <h1>一覧表示</h1>
        <div id="transactions">
            {% include "_data_table.html" %}
        </div>
    </section>
    <div id="statistic-fixed" class="nav">
        {% include "_balance_statisticMini.html" %}
    </div>
</div>
{% include "_result_message.html" %}
{% endblock %}