<!DOCTYPE html>
<html>
    <head>
        <title>{{ app_name }} Login</title>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <div class="header-cont1">
                <h1><a href="{% url 'moneybook:index' %}" class="logo">{{ app_name }}</a></h1>
            </div>
        </header>
        <section>
            <h1>ログインしてください</h1>
            <form method="post" action="{% url 'moneybook:login' %}">
                {% csrf_token %}
                <p>ユーザ名: {{ form.username }}</p>
                <p>パスワード: {{ form.password }}</p>
                <p><input type="submit" class="btn-apply" value="ログイン"></p>
            </form>
        </section>
    </body>
</html>