{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ app_name }} PayPay{% endblock %}

{% block header %}
<script type="text/javascript" src="{% static 'paypay.js' %}"></script>
<script type="text/javascript">
    add_url = "{% url 'moneybook:add' %}";
    data_table_url = "{% url 'moneybook:paypay_recent_income' %}";
    cacheback_checked_url = "{% url 'moneybook:update_cacheback_checked_date' %}";
    paypay_balance_url = "{% url 'moneybook:paypay_balance' %}";

    window.onload = function () {
        get_transaction();
        get_payapy_balance();
    }
</script>
{% endblock %}

{% block content %}
{% include "_add_task_bar.html" %}
<section>
    {% csrf_token %}
    <h1>確認</h1>
    <table class="tbl-common fcs-blue">
        <tr>
            <th>残高</th>
            <td>
                <div id="paypay_balance">円</div>
            </td>
        </tr>
        <tr>
            <th>キャッシュバック確認日</th>
            <td>
                <input type="text" id="c_year" style="width:6ex" class="righter"
                    onkeypress="key_press_cacheback(event.keyCode)" value="{{ cacheback_year }}">年
                <input type="text" id="c_month" style="width:5ex" class="righter"
                    onkeypress="key_press_cacheback(event.keyCode)" value="{{ cacheback_month }}">月
                <input type="text" id="c_day" style="width:5ex" class="righter"
                    onkeypress="key_press_cacheback(event.keyCode)" value="{{ cacheback_day }}">日
                <input type="button" value="更新" class="btn-apply" onclick="update_cacheback_date()">
            </td>
        </tr>
    </table>
    <h1>PayPayキャッシュバック追加</h1>
    <form>
        <table class="tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="s_year" style="width:6ex" class="righter"
                        onkeypress="key_press_send(event.keyCode)" value="{{ year }}">年
                    <input type="text" id="s_month" style="width:5ex" class="righter"
                        onkeypress="key_press_send(event.keyCode)" value="{{ month }}">月
                    <input type="text" id="s_day" style="width:5ex" class="righter"
                        onkeypress="key_press_send(event.keyCode)" autofocus>日
                </td>
            </tr>
            <tr>
                <th>金額</th>
                <td><input type="text" id="s_price" style="width:10ex" class="righter"
                        onkeypress="key_press_send(event.keyCode)">円</td>
            </tr>
        </table>
        <input type="button" value="追加" class="btn-apply" onclick="send_paypay_cacheback()">
    </form>
    <div id="transactions"></div>
</section>
{% include "_result_message.html" %}
{% endblock %}
