{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ app_name }} Statistics{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'statistics.css' %}">
<script src="{% static 'statistics.js' %}"></script>
<script src="{% static 'amcharts4/core.js' %}"></script>
<script src="{% static 'amcharts4/charts.js' %}"></script>
<script src="{% static 'amcharts4/animated.js' %}"></script>
<script src="{% static 'amcharts4/kelly.js' %}"></script>
<script type="text/javascript">
    statistics_url = "{% url 'moneybook:statistics' %}";
    window.onload = function () {
        drawGraph();
    }
</script>
{% endblock %}

{% block content %}
{% include "_statistics_task_bar.html" %}
<section>
    <h1>統計情報</h1>
    <h2>ジャンプ</h2>
    <table class="tbl-common fcs-blue">
        <tr>
            <td rowspan="2">
                <a href="{% url 'moneybook:statistics_month' year|add:'-1' %}"><img src="{% static 'images/left.png' %}"
                        alt="←" width="40px" valign="middle"></a>
            </td>
            <td class="jump-date">
                <input type="text" name="year" id="jump_year" style="width:6ex" class="righter" value="{{ year }}"
                    onkeypress="key_press_move(event.keyCode)" onfocus="deleteValue(this)">年
            </td>
            <td rowspan="2">
                <a href="{% url 'moneybook:statistics_month' year|add:'1' %}"><img src="{% static 'images/right.png' %}"
                        alt="→" width="40px" valign="middle"></a>
            </td>
        </tr>
        <tr>
            <td><input type="button" class="btn-green" value="更新" onclick="move_year()"></td>
        </tr>
    </table>
    <h2>月ごとの収支</h2>
    <table class="tbl-per-month tbl-common">
        <tr>
            <th></th>
            {% for m in monthly_context %}
            <th>{{ m.label }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>収入</th>
            {% for m in monthly_context %}
            <td>{{ m.income| intcomma }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>支出</th>
            {% for m in monthly_context %}
            <td>{{ m.outgo| intcomma }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>収支</th>
            {% for m in monthly_context %}
            <td>{{ m.balance| intcomma }}</td>
            {% endfor %}
        </tr>
    </table>
    <h2>グラフ</h2>
    <h3>収入・支出</h3>
    <div id="barplot_inout" class="graph-statistic"></div>
    <ul id="month_io_list" hidden>
        {% for m in monthly_context %}<li>{{ m.label }}月,{{ m.income }},{{ m.outgo }}</li>
        {% endfor %}
    </ul>
    <ul id="living_costs" hidden>
        {% for m in monthly_context %}<li>{{ m.label }}月,{{ m.living_cost }}</li>
        {% endfor %}
    </ul>
    <ul id="salary" hidden>
        {% for m in monthly_context %}<li>{{ m.label }}月,{{ m.salary }}</li>
        {% endfor %}
    </ul>
    <ul id="food_costs" hidden>
        {% for m in monthly_context %}<li>{{ m.label }}月,{{ m.food_cost }}</li>
        {% endfor %}
    </ul>
    <h3>インフラ</h3>
    <div id="lineplot_infra" class="graph-statistic"></div>
    <ul id="infra_costs" hidden>
        {% for m in monthly_context %}<li>
            {{ m.label }}月,{{ m.electricity_cost }},{{ m.gus_cost }},{{ m.water_cost }},{{ m.infra_cost }}</li>
        {% endfor %}
    </ul>
    <h2>全収支</h2>
    <table class="tbl-per-month tbl-common">
        <tr>
            <th></th>
            {% for m in monthly_context %}
            <th>{{ m.label }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>収入</th>
            {% for m in monthly_context %}
            <td>{{ m.all_income| intcomma }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>支出</th>
            {% for m in monthly_context %}
            <td>{{ m.all_outgo| intcomma }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>収支</th>
            {% for m in monthly_context %}
            <td>{{ m.all_balance| intcomma }}</td>
            {% endfor %}
        </tr>
        <tr>
            <th>途中残高</th>
            {% for b in monthly_context %}
            <td>{{ b.period_balance |intcomma }}</td>
            {% endfor %}
        </tr>
    </table>
    <h3>全収入・支出</h3>
    <div id="barplot_inout_all" class="graph-statistic"></div>
    <ul id="month_all_io_list" hidden>
        {% for m in monthly_context %}<li>{{ m.label }}月,{{ m.all_income }},{{ m.all_outgo }}</li>
        {% endfor %}
    </ul>
    <h3>途中残高</h3>
    <div id="lineplot_monthly_balance" class="graph-statistic"></div>
    <ul id="monthly_balance" hidden>
        {% for b in monthly_context %}<li>{{ b.label }}月,{{ b.period_balance }}</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
