{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ app_name }} Tools{% endblock %}

{% block header %}
<script type="text/javascript" src="{% static 'tools.js' %}"></script>
<script type="text/javascript">
    update_actual_cash_url = "{% url 'moneybook:update_actual_cash' %}";
    checked_date_url = "{% url 'moneybook:checked_date' %}";
    several_checked_date_url = "{% url 'moneybook:several_checked_date' %}";
    update_living_cost_mark_url = "{% url 'moneybook:update_living_cost_mark' %}";
    edit_check_url = "{% url 'moneybook:edit_check' %}";
    update_now_bank_url = "{% url 'moneybook:update_now_bank' %}";
    unchecked_transaction_url = "{% url 'moneybook:unchecked_transaction' %}";
    update_credit_checked_date_url = "{% url 'moneybook:update_credit_checked_date' %}";

    window.onload = function () {
        show_diff();
        get_checked_date();
        get_several_checked_date();
        get_unchecked_transaction();
    }
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<section>
    <h1>現金差額計算</h1>
    <table class="tbl-common fcs-blue">
        <tr>
            <th>記録</th>
            <td id="written_balance" class="righter">{{ cash_balance| intcomma }}</td>
        </tr>
        <tr>
            <th>実際</th>
            <td><input type="text" class="righter" id="actual_balance" style="width:10ex"
                    onfocus="select_value('#actual_balance')" onblur="separate_value('#actual_balance')"
                    onkeypress="key_press_diff(event.keyCode)" value="{{ actual_cash_balance| intcomma }}"></td>
        </tr>
        <tr>
            <th>差額</th>
            <td id="balance_diff" class="righter"></td>
        </tr>
    </table>
    <input type="button" class="btn-apply" value="計算" onclick="update_diff()"
        onkeypress="key_press_diff(event.keyCode)">

    <div id="checked-date"></div>

    <div id="several-checked-date"></div>

    <h1>生活費目標額</h1>
    <table class="tbl-common fcs-blue">
        <tr>
            <td><input type="text" class="righter" id="txt_living_cost" style="width:10ex"
                    onfocus="unseparate_value('#txt_living_cost')" onblur="separate_value('#txt_living_cost')"
                    onkeypress="key_press_living(event.keyCode)" value="{{ living_cost_mark| intcomma }}"></td>
            <td><input type="button" value="更新" class="btn-apply" onclick="update_living_cost_mark()"
                    onkeypress="key_press_living(event.keyCode)"></td>
        </tr>
    </table>

    <div id="unchecked-transaction"></div>
</section>
{% include "_result_message.html" %}
{% endblock %}
