{% extends "_base.html" %}
{% load static %}
{% load humanize %}

{% block title %}{{ app_name }} Tools{% endblock %}

{% block header %}
<script type="text/javascript" src="{% static 'tools.js' %}"></script>
<script type="text/javascript">
    update_actual_cash_url = "{% url 'moneybook:update_actual_cash' %}";
    checked_date_url = "{% url 'moneybook:checked_date' %}";
    several_checked_date_url = "{% url 'moneybook:several_checked_date' %}";
    update_fixed_cost_mark_url = "{% url 'moneybook:update_fixed_cost_mark' %}";
    edit_check_url = "{% url 'moneybook:edit_check' %}";
    calculate_now_bank_url = "{% url 'moneybook:calculate_now_bank' %}";
    unchecked_transaction_url = "{% url 'moneybook:unchecked_transaction' %}";

    window.onload = function() {
        show_diff();
        get_checked_date();
        get_several_checked_date();
        get_calculate_now_bank();
        get_unchecked_transaction();
    }

    function calculate_now_bank() {
        $(".now_bank_credit").each(function(i, o) {
            if ($(".now_bank_credit").eq(i).val() == "") {
                $(".now_bank_credit").eq(i).val("0");
            }
        })

        $.post({
            url: "{% url 'moneybook:calculate_now_bank' %}",
            data: {
                "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
                {% for b in banks %}
                    "bank-{{ b.pk }}": removeComma($("#bank-{{ b.pk }}").val()),{% endfor %}
                {% for c in credit_checked_date %}
                    "credit-{{ c.pk }}": removeComma($("#credit-{{ c.pk }}").val()),{% endfor %}
            }
        })
        .done((data) => {
            result = JSON.parse(data);
            $("#now_bank_balance").text(separate(result["balance"]));
            document.activeElement.blur();
        })
        .fail((data) => {
            // メッセージ表示
            show_result_msg("Error...", empty);
        });
    }
    function key_press_now_bank(code) {
        // エンターキーなら
        if (code === 13) {
            calculate_now_bank();
        }
    }
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<section>
    <h1>現金差額計算</h1>
    <table class="tbl-common">
        <tr>
            <th>記録</th>
            <td id="written_balance" class="righter">{{ cash_balance| intcomma }}</td>
        </tr>
        <tr>
            <th>実際</th>
            <td><input type="text" class="righter" id="actual_balance" style="width:10ex" onfocus="delete_value('actual_balance')" onblur="separate_value('actual_balance')" onkeypress="key_press_diff(event.keyCode)" value="{{ actual_cash_balance| intcomma }}"></td>
        </tr>
        <tr><th>差額</th><td id="balance_diff" class="righter"></td></tr>
    </table>
    <input type="button" class="btn-apply" value="計算" onclick="update_diff()" onkeypress="key_press_diff(event.keyCode)">

    <div id="checked-date"></div>

    <div id="several-checked-date"></div>

    <h1>固定費目標額</h1>
    <table class="tbl-common">
        <tr>
            <td><input type="text" class="righter" id="txt_fixed_cost" style="width:10ex" onfocus="unseparate_value('txt_fixed_cost')" onblur="separate_value('txt_fixed_cost')" onkeypress="key_press_fixed(event.keyCode)" value="{{ fixed_cost_mark| intcomma }}"></td>
            <td><input type="button" value="更新" class="btn-apply" onclick="update_fixed_cost_mark()" onkeypress="key_press_fixed(event.keyCode)"></td>
        </tr>
    </table>

    <div id="unchecked-transaction"></div>

    <div id="calculate-now-bank"></div>
</section>
{% include "_result_message.html" %}
{% endblock %}