.tbl-summary th, .tbl-summary td {
    font-size: 120%;
    padding: 0 0.2vw;
}

.summary-count {
    background: #00bfff;
}

.summary-income {
    background: #44ff44;
}

.summary-outgo {
    background: #ff0033;
}
