{% extends "_base.html" %}
{% load static %}

{% block title %}{{ app_name }} Add{% endblock %}

{% block header %}
<script type="text/javascript" src="{% static 'common.js' %}"></script>
<script type="text/javascript">
    function send_add_row() {
        $.ajax({
            url: "{% url 'web:add' %}",
            type: "POST",
            data: {
                "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
                "date": $('#a_year').val() + "-" + $('#a_month').val() + "-" + $('#a_day').val(),
                "year": $('#a_year').val(),
                "month": $('#a_month').val(),
                "item": $('#a_item').val(),
                "price": $('#a_price').val(),
                "direction": $('input[name="a_direction"]:checked').val(),
                "method": $('input[name="a_method"]:checked').val(),
                "genre": $('input[name="a_genre"]:checked').val(),
                "temp": $('input[name="a_temp"]:checked').val(),
                "checked": "False",
            }
        })
        // 成功時
        .done((data) => {
            update_success(data);
        })
        // 失敗時
        .fail((data) => {
            // メッセージ表示
            show_result_msg("Error...", empty);
        });
    }
    function key_press_add(code) {
        // エンターキーなら実行
        if (code === 13) {
            send_add_row();
        }
    }

    function send_intra_move() {
        $.ajax({
            url: "{% url 'web:add_intra_move' %}",
            type: "POST",
            data: {
                "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
                "year": $('#m_year').val(),
                "month": $('#m_month').val(),
                "day": $('#m_day').val(),
                "item": $("#m_item").val(),
                "price": $('#m_price').val(),
                "before_method": $('input[name="m_before_method"]:checked').val(),
                "after_method": $('input[name="m_after_method"]:checked').val(),
            }
        })
        // 成功時
        .done((data) => {
            update_success(data);
        })
        // 失敗時
        .fail((data) => {
            // メッセージ表示
            show_result_msg("Error...", empty);
            // 抜ける
            return;
        });
    }
    function key_press_intra(code) {
        // エンターキーなら実行
        if (code === 13) {
            send_intra_move();
        }
    }
    
    function send_charge() {
        $.ajax({
            url: "{% url 'web:add_intra_move' %}",
            type: "POST",
            data: {
                "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
                "year": $('#c_year').val(),
                "month": $('#c_month').val(),
                "day": $('#c_day').val(),
                "price": $('#c_price').val(),
                "before_method": 2,
                "after_method": $('input[name="c_method"]:checked').val(),
            }
        })
        // 成功時
        .done((data) => {
            update_success(data);
        })
        // 失敗時
        .fail((data) => {
            // メッセージ表示
            show_result_msg("Error...", empty);
            // 抜ける
            return;
        });
    }
    function key_press_charge(code) {
        // エンターキーなら実行
        if (code === 13) {
            send_charge();
        }
    }
    
    function update_success(data) {
        // 表の書き換え
        $('#transactions').html(data);
        // メッセージ表示
        show_result_msg("Success!", reset_add_form);
    }

    function reset_add_form() {
        // フォームをリセット
        // チャージ
        $('#c_day').val('');
        $('#c_item').val('');
        $('#c_price').val('');
        $('input[name=c_method]').val(['{{ methods.first.pk }}']);

        // 内部移動
        $('#m_day').val('');
        $('#m_item').val('');
        $('#m_price').val('');
        $('input[name=m_before_method]').val(['{{ methods.first.pk }}']);
        $('input[name=m_after_method]').val(['{{ methods.first.pk }}']);

        // 通常追加
        $('#a_day').val('');
        $('#a_item').val('');
        $('#a_price').val('');
        $('input[name=a_method]').val(['{{ methods.first.pk }}']);
        $('input[name=a_genre]').val(['{{ first_genres.first.pk }}']);
        $('#is-charge').removeAttr('checked').prop('checked', false).change();

        // フォーカス
        $('#c_day').focus();
    }

</script>
{% endblock %}

{% block content %}
<section>
    {% csrf_token %}
    <h1>銀行チャージ</h1>
    <form>
        <table class="tbl-add tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="c_year" style="width:6ex" class="righter" onkeypress="key_press_charge(event.keyCode)" value="{{ year }}">年
                    <input type="text" id="c_month" style="width:5ex" class="righter" onkeypress="key_press_charge(event.keyCode)" value="{{ month }}">月
                    <input type="text" id="c_day" style="width:5ex" class="righter" onkeypress="key_press_charge(event.keyCode)" autofocus>日
                </td>
            </tr>
            <tr><th>金額</th><td><input type="text" id="c_price" style="width:10ex" class="righter" onkeypress="key_press_charge(event.keyCode)">円</td></tr>
            <tr>
                <th>移動先</th>
                <td class="radio-green">
                    {% for m in methods %}
                        <input type="radio" name="c_method" value="{{ m.pk }}" id="c_method-{{ m.pk }}"{% if m == methods.first %} checked{% endif %} onkeypress="key_press_charge(event.keyCode)">
                        <label for="c_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <input type="button" value="追加" class="btn-apply" onclick="send_charge()">
    </form>
    <h1>内部移動追加</h1>
    <form>
        <table class="tbl-add tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="m_year" style="width:6ex" class="righter" onkeypress="key_press_intra(event.keyCode)" value="{{ year }}">年
                    <input type="text" id="m_month" style="width:5ex" class="righter" onkeypress="key_press_intra(event.keyCode)" value="{{ month }}">月
                    <input type="text" id="m_day" style="width:5ex" class="righter" onkeypress="key_press_intra(event.keyCode)" autofocus>日
                </td>
            </tr>
            <tr><th>品目</th><td><input type="text" id="m_item" style="width:30ex" onkeypress="key_press_intra(event.keyCode)"></td></tr>
            <tr><th>金額</th><td><input type="text" id="m_price" style="width:10ex" class="righter" onkeypress="key_press_intra(event.keyCode)">円</td></tr>
            <tr>
                <th>移動元</th>
                <td class="radio-green">
                    {% for m in methods %}
                        <input type="radio" name="m_before_method" value="{{ m.pk }}" id="m_before_method-{{ m.pk }}"{% if m == methods.first %} checked{% endif %} onkeypress="key_press_intra(event.keyCode)">
                        <label for="m_before_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>移動先</th>
                <td class="radio-green">
                    {% for m in methods %}
                        <input type="radio" name="m_after_method" value="{{ m.pk }}" id="m_after_method-{{ m.pk }}"{% if m == methods.first %} checked{% endif %} onkeypress="key_press_intra(event.keyCode)">
                        <label for="m_after_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <input type="button" value="追加" class="btn-apply" onclick="send_intra_move()">
    </form>
    <h1>収入支出追加</h1>
    <form>
        <table class="tbl-add tbl-common fcs-blue">
            <tr>
                <th>日付</th>
                <td>
                    <input type="text" id="a_year" style="width:6ex" class="righter" onkeypress="key_press_add(event.keyCode)" value={{ year }}>年
                    <input type="text" id="a_month" style="width:5ex" class="righter" onkeypress="key_press_add(event.keyCode)" value={{ month }}>月
                    <input type="text" id="a_day" style="width:5ex" class="righter" onkeypress="key_press_add(event.keyCode)">日
                </td>
            </tr>
            <tr><th>品目</th><td><input type="text" id="a_item" style="width:30ex" onkeypress="key_press_add(event.keyCode)"></td></tr>
            <tr><th>金額</th><td><input type="text" id="a_price" style="width:10ex" class="righter" onkeypress="key_press_add(event.keyCode)">円</td></tr>
            <tr>
                <th>方向</th>
                <td class="radio-green">
                    {% for d in directions %}
                        <input type="radio" name="a_direction" value="{{ d.pk }}" id="a_direction-{{ d.pk }}"{% if d == directions.first %} checked{% endif %} onkeypress="key_press_add(event.keyCode)">
                        <label for="a_direction-{{ d.pk }}">{{ d.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>支払い方法</th>
                <td class="radio-green">
                    {% for m in methods %}
                        <input type="radio" name="a_method" value="{{ m.pk }}" id="a_method-{{ m.pk }}"{% if m == methods.first %} checked{% endif %} onkeypress="key_press_add(event.keyCode)">
                        <label for="a_method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>分類</th>
                <td class="radio-green">
                    {% for g in first_genres %}
                        <input type="radio" name="a_genre" value="{{ g.pk }}" id="a_genre-{{ g.pk }}"{% if g == first_genres.first %} checked{% endif %} onkeypress="key_press_add(event.keyCode)">
                        <label for="a_genre-{{ g.pk }}">{{ g.name }}</label>
                    {% endfor %}
                    {% for g in latter_genres %}
                        <input type="radio" name="a_genre" value="{{ g.pk }}" id="a_genre-{{ g.pk }}" onkeypress="key_press_add(event.keyCode)">
                        <label for="a_genre-{{ g.pk }}">{{ g.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>立替</th>
                <td class="radio-green">
                    {% for k,v in temps.items %}
                        <input type="radio" name="a_temp" value="{{ k }}" id="a_temp-{{ k }}"{% if k == 0 %} checked{% endif %} onkeypress="key_press_add(event.keyCode)">
                        <label for="a_temp-{{ k }}">{{ v }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
        <input type="button" value="追加" class="btn-apply" onclick="send_add_row()" onkeypress="key_press_add(event.keyCode)">
    </form>
</section>
{% include "_result_message.html" %}
{% endblock %}