{% extends "_base.html" %}
{% load static %}

{% block title %}{{ app_name }} Search{% endblock %}

{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'search.css' %}">
{% endblock %}

{% block content %}
<section>
    <h1>詳細検索</h1>
    <form action="{% url 'web:search' %}" method="get">
        <input type="hidden" name="is-query" value="1">
        <table class="tbl-add tbl-common fcs-blue">
            <tr><th>日付</th>
                <td>
                    <input type="text" name="start-year" style="width:6ex" class="righter" value="{{ start_year }}">年
                    <input type="text" name="start-month" style="width:5ex" class="righter" value="{{ start_month }}">月
                    <input type="text" name="start-day" style="width:5ex" class="righter" value="{{ start_day }}">日
                    <br>～<br>
                    <input type="text" name="end-year" style="width:6ex" class="righter" value="{{ end_year }}">年
                    <input type="text" name="end-month" style="width:5ex" class="righter" value="{{ end_month }}">月
                    <input type="text" name="end-day" style="width:5ex" class="righter" value="{{ end_day }}">日
                </td>
            </tr>
            <tr><th>品目</th><td><input type="text" name="item" size="25" value="{{ item }}"></td></tr>
            <tr>
                <th>金額</th>
                <td>
                    <input type="text" name="lower-price" size="10" class="righter" value="{{ lower_price }}">
                    ～
                    <input type="text" name="upper-price" size="10" class="righter" value="{{ upper_price }}">円
                </td>
            </tr>
            <tr>
                <th>方向</th>
                <td class="radio-green">
                    {% for d in directions %}
                        <input type="checkbox" name="direction" value="{{ d.pk }}" id="direction-{{ d.pk }}" onkeypress="key_press_add(event.keyCode)">
                        <label for="direction-{{ d.pk }}">{{ d.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>支払い方法</th>
                <td class="radio-green">
                    {% for m in methods %}
                        <input type="checkbox" name="method" value="{{ m.pk }}" id="method-{{ m.pk }}" onkeypress="key_pressadd(event.keyCode)">
                        <label for="method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                    {% for m in unused_methods %}
                        <input type="checkbox" name="method" value="{{ m.pk }}" id="method-{{ m.pk }}" onkeypress="key_pressadd(event.keyCode)">
                        <label for="method-{{ m.pk }}">{{ m.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>分類</th>
                <td class="radio-green">
                    {% for g in first_genres %}
                        <input type="checkbox" name="genre" value="{{ g.pk }}" id="genre-{{ g.pk }}" onkeypress="key_press_add(event.keyCode)">
                        <label for="genre-{{ g.pk }}">{{ g.name }}</label>
                    {% endfor %}
                    {% for g in latter_genres %}
                        <input type="checkbox" name="genre" value="{{ g.pk }}" id="genre-{{ g.pk }}" onkeypress="key_press_add(event.keyCode)">
                        <label for="genre-{{ g.pk }}">{{ g.name }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>立替</th>
                <td class="radio-green">
                    {% for k,v in temps.items %}
                        <input type="checkbox" name="temp" value="{{ k }}" id="temp-{{ k }}" onkeypress="key_press_add(event.keyCode)">
                        <label for="temp-{{ k }}">{{ v }}</label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>チェック済み</th>
                <td class="radio-green">
                    {% for k,v in checked.items %}
                        <input type="checkbox" name="checked" value="{{ k }}" id="checked-{{ k }}" onkeypress="key_press_add(event.keyCode)">
                        <label for="checked-{{ k }}">{{ v }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
        
        <table class="tbl-buttons">
            <tr>
            <td><input type="submit" class="btn-apply" value="検索"></td>
            <td><input type="button" class="btn-cancel" value="リセット" onclick="reset_page()"></td>
            </tr>
        </table>
    </form>
</section>
{% endblock %}