{% load humanize %}
<h1>残高</h1>
<table class="tbl-all-balance">
    <tr>
        <td>総残高</td>
        <td>{{ all_balance|intcomma }}</td>
    </tr>
</table>

<!-- 支払い方法一覧 -->
<table class="tbl-common">
    <tr>
        {% for m in methods_balance.keys %}
            <th>{{ m.name }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for v in methods_balance.values %}
            <td>{{ v|intcomma }}</td>
        {% endfor %}
    </tr>
</table>

<h1>統計</h1>
<div id="chart_container"></div>
<table class="tbl-add tbl-common" id="tbl-parameters">
    <tr>
        <th>収入合計</th>
        <td class="righter">{{ total_income|intcomma }}</td>
    </tr>
    <tr>
        <th>支出合計</th>
        <td class="righter">{{ total_outgo|intcomma }}</td>
    </tr>
    <tr>
        <th>収支</th>
        <td class="righter">{% if total_inout >= 0 %}+{% else %}-{% endif %}{{ total_inout|intcomma }}</td>
    </tr>
    <tr>
        <th>変動費</th>
        <td class="righter">{{ variable_outgo|intcomma }}</td>
    </tr>
    <tr>
        <th>固定費</th>
        <td class="righter">{{ fixed_outgo|intcomma }}</td>
    </tr>
    <tr>
        <th>変動残額</th>
        <td class="righter">{{ variable_remain|intcomma }}</td>
    </tr>
    <tr>
        <th>全収入</th>
        <td class="righter">{{ all_income|intcomma }}</td>
    </tr>
    <tr>
        <th>全支出</th>
        <td class="righter">{{ all_outgo|intcomma }}</td>
    </tr>
</table>
<table class="tbl-common">
    <tr>
        <th></th>
        <!-- Genre名一覧 -->
        {% for m in methods_income.keys %}<th>{{ m }}</th>{% endfor %}
    </tr>
    <tr>
        <th>収入</th>
        {% for v in methods_income.values %}<td>{{ v|intcomma }}</td>{% endfor %}
    </tr>
    <tr>
        <th>支出</th>
        {% for v in methods_outgo.values %}<td>{{ v|intcomma }}</td>{% endfor %}
    </tr>
</table>