<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'web/favicon.ico' %}">
        <link href="https://fonts.googleapis.com/css?family=Parisienne" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">
        {% block style %}{% endblock %}
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
            <div class="header-cont1">
                <h1><a href="{% url 'web:index' %}" class="logo">{{ app_name }}</a></h1>
            </div>
            <div class="header-cont2">
                (ユーザ名)さん(<a href="#">ログアウト</a>)
            </div>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'web:index' %}">ホーム</a></li>
                <li><a href="{% url 'web:add' %}">追加</a></li>
                <li><a href="{% url 'web:statistics' %}">統計</a></li>
                <li><a href="{% url 'web:search' %}">検索</a></li>
                <li><a href="#">ツール</a></li>
            </ul>
        </nav>
        {% block content %}{% endblock %}
    </body>
</html>