# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python lint and test

on: [pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements_lint.txt ]; then pip install -r requirements/requirements_lint.txt; fi
      - name: Lint with flake8
        run: |
          flake8 . --count --exclude moneybook/migrations,__init__.py --show-source --statistics --import-order-style smarkets
  unittest:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements.txt ]; then pip install -r requirements/requirements.txt; fi
          if [ -f requirements/requirements_test.txt ]; then pip install -r requirements/requirements_test.txt; fi
      - name: Test
        run: |
          coverage run --source='moneybook.models,moneybook.views,moneybook.utils,moneybook.middleware,moneybook.forms' manage.py test moneybook.tests --settings config.settings.test
      - name: Report coverage
        run: |
          coverage report -m
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  e2e-index:
    name: E2E Test - Index
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements.txt ]; then pip install -r requirements/requirements.txt; fi
          if [ -f requirements/requirements_selenium.txt ]; then pip install -r requirements/requirements_selenium.txt; fi
      - name: Test
        run: |
          python manage.py test moneybook.e2e.index --settings config.settings.test
  e2e-add:
    name: E2E Test - Add
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements.txt ]; then pip install -r requirements/requirements.txt; fi
          if [ -f requirements/requirements_selenium.txt ]; then pip install -r requirements/requirements_selenium.txt; fi
      - name: Test
        run: |
          python manage.py test moneybook.e2e.add --settings config.settings.test
  e2e-login:
    name: E2E Test - Login
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements.txt ]; then pip install -r requirements/requirements.txt; fi
          if [ -f requirements/requirements_selenium.txt ]; then pip install -r requirements/requirements_selenium.txt; fi
      - name: Test
        run: |
          python manage.py test moneybook.e2e.login --settings config.settings.test
