# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python lint and test

on: [pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements_dev.txt ]; then pip install -r requirements/requirements_dev.txt; fi
      - name: Lint with tox
        run: |
          tox -e lint
  check-e2e-matrix:
    name: Check e2e Matrix Configuration
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install yq
        run: |
          sudo wget -qO /usr/local/bin/yq https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64
          sudo chmod +x /usr/local/bin/yq
      - name: Validate e2e Matrix
        run: |
          chmod +x check_e2e_matrix.sh
          ./check_e2e_matrix.sh
  unittest:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements_dev.txt ]; then pip install -r requirements/requirements_dev.txt; fi
      - name: Test with tox
        run: |
          tox -e unittest
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  e2e:
    name: e2e - ${{ matrix.test-module }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test-module: [index, add, login]
    env:
      TEST_MODULE: moneybook.e2e.${{ matrix.test-module }}
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install Chrome
        uses: browser-actions/setup-chrome@latest
        with:
          chrome-version: stable
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements/requirements_dev.txt ]; then pip install -r requirements/requirements_dev.txt; fi
      - name: Test with tox
        run: |
          tox -e e2e
